* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  line-height: 28px;
}

body {
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
}

.img_responsive {
  width: 100%;
}

#main_header {
  /* background: #ccc; */
  height: 88px;
}

#main_header .container {
  position: relative;
}

#main_header .container > h1 {
  position: absolute;
  left: 0; top: 25px;
}

#gnb {
  position: absolute;
  right: 0;
  top: 30px;
  /* z-index 추가 */
  z-index: 999;
}

/* 1단계 메뉴 */
#gnb > ul.depth1 > li {
  float: left;
  width: 110px;
  text-align: center;
  background: #fff;
}

#gnb > ul.depth1 > li:last-child {
  margin-right: 0;
}

/* 2단계 메뉴 */
#gnb ul.depth2 {
  outline: 1px solid rgba(0,0,0,0.2);
  margin-top: 32px;
  padding: 20px 10px;
  display: none;
}

#gnb ul.depth2 > li {
  line-height: 2em;
  font-size: 16px;
}

#gnb ul.depth1 > li > a:hover,
#gnb ul.depth2 > li > a:hover  {
  color: #e50000;
}

#main_visual {
  position: relative;
  width: 100%; height: 620px;
  /* outline: 2px solid red; */
  margin: 0 auto;
}

#main_visual .swiper-container {
  width: 1920px; height: 620px;
  /* border: 2px solid green; */
  position: absolute;
  left: calc(50% - (1920px / 2));
}

/* 화살표 위치 조정 */
.container1400 {
  width: 1400px;
  position: relative;
  margin: 0 auto;
  outline: 2px solid red!important;
}
.swiper-button-prev,
.swiper-button-next {
  transform: translateY(-300px);
  color: white;
}

/* 컬러 변경 */
/* .swiper-pagination-bullet {

} */
.swiper-pagination-bullet-active {
  background: white;
}

#vision {
  padding-top: 100px;
  padding-bottom: 100px;
}

#vision .container .col_5 {
  /* background: #ff0; */
  padding-top: 100px;
}

#vision h2 {
  font-weight: normal;
  font-size: 34px;
  margin-bottom: 25px;
}
#vision h2 span { 
  font-weight: bold;
}

.btn-detail {
  width: 182px; height: 48px;
  border: 2px solid #dd00ff;
  display: block;
  text-align: center;
  line-height: 48px;
  text-transform: uppercase;
  font-size: 14px;
  color: #dd00ff;
  margin-top: 60px;
  transition-duration: 0.4s;
}

.btn-detail:hover {
  background: #dd00ff;
  color: #fff;
}

#product {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: #f8f8f8;
}
#product h2,
#ir h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

#whiteday {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;  
  background: #dd00ff;
  background: url('../images/ir_bg.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF;
  text-shadow: 1px 1px 2px #dd00ff;
}

#whiteday h2 { margin-bottom: 40px;}

#whiteday .btn-detail {
  display: inline-block;
  border-color: #fff;
  color: #fff;
}
#whiteday .btn-detail:hover {
  background: #fff;
  color: #000;
  text-shadow: none;
}
/* 공지사항 및 빠른문의 */
#notice {
  padding-top: 100px;
  padding-bottom: 100px;
}

#notice .btn-detail {
  margin-top: 60px;
}

#notice label {
  display: none;
}

.form-group {
  /* background: #ccc; */
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  display: block;
  padding: 15px;
  border: 1px solid rgba(0,0,0, 0.2);
  border-radius: 5px;
}

#notice form .btn-detail {
  margin-top: 30px;
}

address { font-style: normal;}

#main_footer {
  background: #ff8f95;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 0.8em;
}

#main_footer address, 
#main_footer .info {
  margin-bottom: 10px;
}